*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*****************************************
loading animation styles
******************************************/

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    transform: scaleY(0) skewX(0);
    transform-origin: top left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
    
}



.container{
    margin: 0 auto;
    max-width: 100%;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
}
.top-logo-nav-container{
    min-height: 10vh;
    position: fixed;
    z-index: 1;
}
.logo-nav-container{
    background-color: rgb(0, 0, 0);
    min-height: 10vh;
    margin: auto;
    display: flex;

}
.logo-container{
    background-color: rgb(0, 0, 0);
    min-height: 10vh;
    display: flex;
    align-items: center; 
    justify-content: center;
}


.nav-container{
    background-color: rgb(0, 0, 0);
    min-height: 10vh;
}
.nav-list{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}
.nav-list, .nav-list-item, .nav_links{
    text-decoration: none;
    color: white;
    font-family: 'Manrope', sans-serif;
}
.nav_links:hover{
    color: rgb(10, 154, 238);
    border: 1px solid rgb(10, 154, 238);
    overflow: hidden;
    margin: -5px;  
    padding: 4px; 
    border-radius: 5px;
    transition: 0.2s;
}

.abc1{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 8%, rgba(184,184,184,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 8%, rgba(184,184,184,1) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,1) 8%, rgba(184,184,184,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#b8b8b8",GradientType=1);
    min-height: 100vh;
}


.abc2{
    background-color: #b8b8b8;
    min-height: 100vh;
}
.abc3{
    background-color: #b8b8b8;
    min-height: 100vh;
}
.abc4{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 8%, rgba(184,184,184,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 8%, rgba(184,184,184,1) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,1) 8%, rgba(184,184,184,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#b8b8b8",GradientType=1);
    min-height: 100vh;
}
.footer-main-container{
    background-color: rgb(109, 29, 42);
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-top-line{
    background-color: whitesmoke;
    min-height: 2vh;
    border-radius: 2px;
    
}
.footer-inner-container{
    background-color: brown;
    min-height: 50vh;
}



.col-1 {
    width: 8.3333333333%;
}

.col-2 {
    width: 16.666666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333333%;
}

.col-5 {
    width: 41.666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333333%;
}

.col-8 {
    width: 66.666666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333333%;
}

.col-11 {
    width: 91.666666667%;
}

.col-12 {
    width: 100%;
}


/**********************************************************************************
***********************************************************************************
**********************************Styles of about page*****************************
***********************************************************************************
***********************************************************************************/


.about-container-large{
    background-color: #dde3e6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container-small{
    background-color: #dde3e6;
    border-radius: 25px;
    width: 55%;
    margin-right: 15%;
    margin-top: 5%;
}

.about-head{
    font-family: 'Montserrat', sans-serif;
    color: #4e5356;
    font-size: 72px;
    line-height: 80px;
    padding: 5% 5% 5% 5%;
}
.about-text{
    font-family: 'Manrope', sans-serif;
    font-size: 32px;
    color: #4e5356;
    line-height: 40px;
    font-weight: 100;
    padding: 0 5% 5% 5%;
}


/**********************************************************************************
***********************************************************************************
**********************************Styles of Contact page***************************
***********************************************************************************
***********************************************************************************/
.form-heading{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 72px;
    line-height: 80px;   
}
.form-above-text{
    color: rgb(0, 0, 0);
    font-size: 24px;
    line-height: 32px;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 5%;
}
.form-social-large-container{
    background-color: rgb(70, 69, 68);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-social-container{
    background-color: rgb(70, 69, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    margin-top: 5%;

}
.form-container{
    width: 40%;
    background-color: darkkhaki;
    padding: 2% 5%;
    border-radius: 10px;
}
.form-input{
    font-family: 'Manrope', sans-serif;
    margin-bottom: 16px;
    padding: 5px ;
    border-style: solid;
    border-width: 1px;
    font-size: 24px;
    width: 100%;
    border-radius: 10px;
}
.form-button{
    padding: 7px 32px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    background-color: transparent;
    float: right;
    font-size: 24px;
    color: rgb(0, 0, 0);
    border-radius: 7px;
}

.form-button:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    transition: 300ms ease-in-out;
}


